/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 60px;
}

/* Your code starts here! */

body{
	margin: 0px 5%;
}

/***************************** header *****************************/

header{
	/*border: 1px solid pink;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0px;
}
nav{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-right: 5%;
}

nav a{
	text-decoration: none;
	color: gray;
	border: gray;
}

div.logo{
	width: 183px;
	height: 36px;
	/*border: 1px solid green;*/
}
/******************************** main ***********************************/


section{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
section.main{
	padding: 5% 0px;
	border-bottom: 1px solid black;
}
div.main{
    /* border: 1px solid pink; */
    width: 48%;
	text-align: center;
}

button{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	border: 1px solid black;
	width: 50%;
	background: white;
}
div.matrix{
	width: 48%;
}



/**************************** about *************************/

h3{
	font-size: 20px;
}

section.about{
	margin: 5% 0px;
}
section.vision{
	margin: 5% 0px;
	border-bottom: 1px black solid;
	padding-bottom: 3%;
}

img{
	width: 100%;
}

p{
	margin-right: 5%;
	margin-bottom: 5%;
	font-family: 'Titillium Web', sans-serif;
}

/******************** services **********************/
h2{
	font-size: 26px;
}

section.services{
	display: block;
	border-bottom: 1px solid black;
	margin: 3% 0px;
}

section.grid{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
div.boxes{
	border: 1px solid black;
	background: #F4F3F4;
	padding: 2%;
	margin: 2% 0px;
	width: 48%;
}

p.learn{
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	width: 150px;
	height: 40px;
}
section.facts{
	margin: 5% 0px;
	padding: 5% 0px;
	border-top: 2px solid black;
	
}
ul{
	list-style-type: square;
	margin: 2% 5%;
}
li{
	margin: 5%;
}


/****************** footer *****************/
.copyright{
	text-align: center;
}
address{
	display: block;
	width: 150px;
}
p.address{
	margin: 10% 0;
}
footer{
	margin-bottom: 10%;
}


@media(max-width: 500px){
    body{
        margin: 0;
        width: 100%;
    }
    header{
        /* border: 1px solid pink; */
        margin: 0;
        min-width: 100px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    nav{
        /* border: 1px solid yellow; */
        margin: 0;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    nav a{
        display: block;
        text-decoration: none;
        color: lightgray;
        border-bottom: 1px solid gray;
        padding: 4% 100%;

    }
    img.logo{
        width: 183px;
        padding: 5%;
    }
    div.logo{
        width: 100%;
        height: 10%;
        border-bottom: 1px solid gray;
        align-content: center;
        display: flex;
        justify-content: space-around;
    }

    div.matrix{
        display: none;
        /* border: 1px solid green; */
    }
    section{
        margin: 0 5%;
    }
    section.main{
        width: 90%;
        display: flex;
        justify-content: center;
        border-bottom: 1.5px solid black;
    
    }
    div.main{
        /* background: blue; */
        margin: 0 auto;
        width: 50%;
    }
    section.about{
        min-width: 0;
        width: 90%;
        margin: 5%;
        flex-direction: column;
    }
    section.vision{
        flex-direction: column;
        margin: 5%;
        border-bottom: 1.5px solid black;
        
    }
    img.middle-img{
       margin: 5%;
       width: 90%;
    }
    address{
        margin: 5%;
    }

    section.services{
        margin: 5%;
    }
    img.services-info-img{
        display: none;
    }
    section.facts{
        margin: 5%;
    }
}

@media(max-width: 800px){
    header{
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
    }
    nav{
        width: 100%;
        flex: space-evenly;
        margin: 0;
    }
    div.logo{
        margin: 5%;
    }
    div.matrix{
        display: none;
    }
}